 body{
 	margin:0;
 }

 .side-margin{
 	padding: 0 5vw;
 }

 .ma-xs{
 	margin: var(--xs);
 }
 .ma-sm{
 	margin: var(--sm);
 }

 .ma-md{
 	margin: var(--md);
 }

 .ma-lg{
 	margin: var(--lg);
 }

 .ma-xl{
 	margin: var(--xl);
 }

 .my-xs{
 	margin-top: var(--xs);
 	margin-bottom: var(--xs);
 }
 .my-sm{
 	margin-top: var(--sm);
 	margin-bottom: var(--sm);
 }

 .my-md{
 	margin-top: var(--md);
 	margin-bottom: var(--md);
 }

 .my-lg{
 	margin-top: var(--lg);
 	margin-bottom: var(--lg);
 }

 .my-xl{
 	margin-top: var(--xl);
 	margin-bottom: var(--xl);
 }


 /* flex box */
 .flex{
 	display: flex;
 }

 .justify-center{
 	justify-content: center;
 }

 .justify-start{
 	justify-content: flex-start;
 }

 .justify-end{
 	justify-content: flex-end;
 }

 .justify-between{
 	justify-content: space-between;
 }

 .justify-evenly{
 	justify-content: space-evenly;
 }


 .items-center{
 	align-items: center;
 }

 .items-start{
 	align-items: flex-start;
 }

 .items-end{
 	align-items: flex-end;
 }


.flex-1{
	flex:1;
}

.flex-2{
	flex:2;
}

.flex-3{
	flex:3;
}

.flex-4{
	flex:4;
}

.flex-5{
}

.flex-6{
	flex:6;
}

.wrap{
	flex-wrap: wrap;
}