.task{
	height:200px;
	width:200px;
	margin: 4px;
	border-radius: 4px;
	border:1px solid rgba(0,0,0,.23);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:8px;
}

.task-actions{
	position: absolute;
	top:4px;
	right:4px;
	display: flex;
}

.task-actions .btn{
	margin-left:4px;
	height:30px;
	width:30px;
	border-radius: 300px;
	padding:0;
	display: flex;
	justify-content: center;
	align-items: center;
}